In [44]:

import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

In [45]:
# Importando dados Treino em formato csv para um dataframe
Dados = pd.read_csv('desafio_manutencao_preditiva_treino.csv')
Dados

,udi,product_id,type,air_temperature_k,process_temperature_k,rotational_speed_rpm,torque_nm,tool_wear_min,failure_type
0,1,M14860,M,298.1,308.6,1551,42.8,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,No Failure
2,5,L47184,L,298.2,308.7,1408,40.0,9,No Failure
3,6,M14865,M,298.1,308.6,1425,41.9,11,No Failure
4,7,L47186,L,298.1,308.6,1558,42.4,14,No Failure
...,...,...,...,...,...,...,...,...,...
9995,5554,L52733,L,302.5,311.9,1306,59.7,172,No Failure
9996,6961,L54140,L,300.7,311.0,1413,52.0,91,No Failure
9997,6914,L54093,L,300.8,311.2,1481,38.5,181,No Failure
9998,5510,L52689,L,302.8,312.2,1509,36.5,52,No Failure
9999,3066,M17925,M,300.1,309.2,1687,27.7,95,No Failure

In [46]:
#Importando os dados teste e vinculando dataframe à uma variável e deletando as colunas desnecessárias para aplicação do aprendizado de maquina
DadosTeste = pd.read_csv('desafio_manutencao_preditiva_teste.csv')
DadosTeste = DadosTeste.drop(columns=['udi','product_id','type'])
DadosTeste

,air_temperature_k,process_temperature_k,rotational_speed_rpm,torque_nm,tool_wear_min
0,297.5,308.6,1793,26.7,70
1,300.7,310.5,1536,47.4,192
2,297.2,308.4,1460,42.1,41
3,299.4,309.1,1670,35.9,68
4,304.1,313.1,1550,30.9,9
...,...,...,...,...,...
3328,302.5,311.9,1306,59.7,172
3329,300.7,311.0,1413,52.0,91
3330,300.8,311.2,1481,38.5,181
3331,302.8,312.2,1509,36.5,52
3332,300.1,309.2,1687,27.7,95

In [47]:
# x recebe as Features // y recebe o predicted
x = Dados.drop(columns=['udi', 'failure_type','product_id','type'])
y = Dados['failure_type']

#importando as variaveis para a função de aplicação de aprendizado de maquina do pacote sklearn e definindo teste como apenas 20%
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y,  test_size=0.2)

In [48]:
# vindulando uma Variavel à função de arvore de decisão do pacote sklearn
modelo = DecisionTreeClassifier()

#aplicando a função arvore de decisão com as variaveis treino e teste, ja que o nosso predict é uma classificação com 1/5 de possibilidades
modelo.fit(x_treino,y_treino)

DecisionTreeClassifier()

In [49]:
#arvore de decisão ja está treinada para a classificação

#como Teste aplicaremos a função de arvore de decisão na variavel x que possui apenas as colunas de features e vinculamos o resultado a uma Variavel 

FullPredictedSheetTrain = pd.DataFrame(modelo.predict(x))

In [50]:
#aqui alteramos o nome da coluna para 'PredictedFeedback' para diferenciarmos da coluna 'Failure_type'
FullPredictedSheetTrain.rename(columns = {0:'PredictedFeedback'}, inplace = True)

FullPredictedSheetTrain

# aqui concatenamos o dataframe Dados(com todas as colunas) e o nosso dataframe fruto do aprendizado de maquina e aplicado com os features
TableTrei = pd.concat([Dados,FullPredictedSheetTrain],axis = 1)

#aqui exibimos a tabela concatenada
TableTrei

,udi,product_id,type,air_temperature_k,process_temperature_k,rotational_speed_rpm,torque_nm,tool_wear_min,failure_type,PredictedFeedback
0,1,M14860,M,298.1,308.6,1551,42.8,0,No Failure,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,No Failure,No Failure
2,5,L47184,L,298.2,308.7,1408,40.0,9,No Failure,No Failure
3,6,M14865,M,298.1,308.6,1425,41.9,11,No Failure,No Failure
4,7,L47186,L,298.1,308.6,1558,42.4,14,No Failure,No Failure
...,...,...,...,...,...,...,...,...,...,...
9995,5554,L52733,L,302.5,311.9,1306,59.7,172,No Failure,No Failure
9996,6961,L54140,L,300.7,311.0,1413,52.0,91,No Failure,No Failure
9997,6914,L54093,L,300.8,311.2,1481,38.5,181,No Failure,No Failure
9998,5510,L52689,L,302.8,312.2,1509,36.5,52,No Failure,No Failure
9999,3066,M17925,M,300.1,309.2,1687,27.7,95,No Failure,No Failure

In [53]:

#para medir a taxa de acerto utilizamos a função 'accuracy' do pacote sklearn para comparar os valores de Y com  os da coluna 'PredictedFeedback' obtidos com a arvore de decisão e vinculamos a uma variavel 'taxa_acerto'
taxa_acerto = accuracy_score(y,FullPredictedSheetTrain)

#valor de taxa de acerto em porcentagem, ou seja, 99% de acertos
print(taxa_acerto)

0.9957

In [54]:
#exportamos para um csv criado para comparação e visualização
TableTrei.to_csv('Feedback.csv')
# Caminho do arquivo --^ (Se não estiver dentro do Folder)

In [61]:
#-------------------------------------------------------------------------------------------------------------------------------

    #Agora Iremos aplicar a previsão com o valor de 'accuracy' de 99% de acerto nos dados de Teste.csv
         #concatenando as 2 colunas solicitadas Rownumber & PredictedValues

In [62]:
PredictSheetTest = pd.DataFrame(modelo.predict(DadosTeste))
PredictSheetTest.rename(columns = {0:'PredictedValues'}, inplace = True)
PredictSheetTest

     PredictedValues
0         No Failure
1         No Failure
2         No Failure
3         No Failure
4         No Failure
...              ...
3328      No Failure
3329      No Failure
3330      No Failure
3331      No Failure
3332      No Failure

[3333 rows x 1 columns]

In [63]:
SheetTest = pd.read_csv('desafio_manutencao_preditiva_teste.csv')
SheetTest = SheetTest.drop(columns=['product_id','type','air_temperature_k','process_temperature_k','rotational_speed_rpm','torque_nm','tool_wear_min'])
SheetTest.rename(columns = {'udi':'RowNumber'}, inplace = True)

In [64]:
TableTest =pd.concat([SheetTest,PredictSheetTest],axis = 1)
TableTest

      RowNumber PredictedValues
0           446      No Failure
1          7076      No Failure
2          1191      No Failure
3          2618      No Failure
4          5067      No Failure
...         ...             ...
3328       5554      No Failure
3329       6961      No Failure
3330       6914      No Failure
3331       5510      No Failure
3332       3066      No Failure

[3333 rows x 2 columns]

In [65]:
TableTest.to_csv('Predicted.csv', index =False)